
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Rewrite to www
RewriteCond %{HTTP_HOST} ^ipt\.us\.com
RewriteRule ^(.*)$ http://www.ipt.us.com/$1 [R=permanent,L]

RewriteRule ^/?commodity-reference-manual$ /produce-inspection-products/commodity-reference-manual [R=301,L]
RewriteRule ^/?about$ /company/about [R=301,L]
RewriteRule ^/?privacy-policy$ /company/privacy-policy [R=301,L]
RewriteRule ^/?terms-of-service$ /company/terms-of-service [R=301,L]
RewriteRule ^/?faqs$ /produce-inspection-resources/faq [R=301,L]
RewriteRule ^/?inspection-quiz$ /produce-inspection-resources/inspection-quiz [R=301,L]
RewriteRule ^/?audit-services$ /produce-inspection-services/audit-services [R=301,L]
RewriteRule ^/?training-courses$ /produce-inspection-services/onsite-training-courses [R=301,L]
RewriteRule ^/?inspectors-blog$ /produce-inspection-resources/inspectors-blog [R=301,L]

RewriteRule ^/?inspection-guidelines/(.*)$ /produce-inspection-resources/inspection-guidelines/$1 [R=301,L]
RewriteRule ^/?current-events/(.*)$ /produce-inspection-resources/inspectors-blog/current-events/$1 [R=301,L]
RewriteRule ^/?defect-identification/(.*)$ /produce-inspection-resources/inspectors-blog/defect-identification/$1 [R=301,L]
RewriteRule ^/?produce-defects-and-grade-standard-changes/(.*)$ /produce-inspection-resources/inspectors-blog/produce-defects-and-grade-standard-changes/$1 [R=301,L]
RewriteRule ^/?produce-inspection-news-and-comments/(.*)$ /produce-inspection-resources/inspectors-blog/produce-inspection-news-and-comments/$1 [R=301,L]
RewriteRule ^/?inspection-procedures/(.*)$ /produce-inspection-resources/inspectors-blog/inspection-procedures/$1 [R=301,L]
RewriteRule ^/?produce-inspection-training/(.*)$ /produce-inspection-resources/inspectors-blog/produce-inspection-training/$1 [R=301,L]
RewriteRule ^/?produce-storage-and-transport/(.*)$ /produce-inspection-resources/inspectors-blog/produce-storage-and-transport/$1 [R=301,L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
